<div class="name-page">
  <main>
    <span id="red-bar"></span>
    <div class="name-container">
      <h1>{{ myInfo.firstName }} {{ myInfo.lastName }}</h1>
      <h4>{{ myInfo.title }}</h4>
      <p>{{ myInfo.city}}, {{ myInfo.province }}</p>
    </div>

    <!-- <div class="name-container">
      <h1>{{ (name$.firstName | async)?.name }} {{ name$.lastName }}</h1>
      <h4>{{ name$.title }}</h4>
      <p>{{ name$.city}}, {{ name$.province }}</p>
    </div> -->
    
    <div class="project-container">
      <a class="button" href=""
        routerLink="project">
        view projects</a>
    </div>
  </main>
</div>

