// animation
@mixin slideup-redbar($duration, $delay) {
  -webkit-animation: slideUp $duration ease-in $delay forwards;
  animation: slideUp $duration ease-in $delay forwards;

  @-webkit-keyframes slideUp {
    from { opacity: 0; -webkit-transform: translate(0, 200px); transform: translate(0, 200px); }
    to { opacity: 1; -webkit-transform: translate(0, -16px); transform: translate(0, -16px); }
  }

  @keyframes slideUp {
    from { opacity: 0; -webkit-transform: translate(0, 200px); transform: translate(0, 200px); }
    to { opacity: 1; -webkit-transform: translate(0, -16px); transform: translate(0, -16px); }
  }
}

@mixin slide-right($duration, $delay) {
  -webkit-animation: slideRight $duration ease-in $delay forwards;
  animation: slideRight $duration ease-in $delay forwards;
  
  @-webkit-keyframes slideRight {
    from { opacity: 0; -webkit-transform: translateX(-320px); transform: translateX(-320px); }
    to { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); }
  }
  
  @keyframes slideRight {
    from { opacity: 0; -webkit-transform: translateX(-320px); transform: translateX(-320px); }
    to { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); }
  }
}

@mixin fade-in($duration: .6s, $delay: .4s) {
  -webkit-animation: fadeIn $duration ease-in-out $delay forwards;
  animation: fadeIn $duration ease-in-out $delay forwards;

  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}
