@import "../../styles.scss";

div.profile {
  @include mobile-setup();
  margin-left: 2.5%;
  
  main {
    margin-bottom: 3rem;
    
    h1 {
      @include h1-mobile-setup();
      margin-bottom: 1.4rem;
    }

    article p {
      @include font-set();
      font-size: 1.8rem;
      color: $white-dark;
      line-height: 1.4;
      margin-bottom: 1.4rem;
    }
  }
}

div.skills {
  margin-bottom: 8rem;

  section {
    @include box-shadow-set();
    border-radius: 4px;
    border: 1px $white-dark2 solid;
    margin-bottom: 1rem;
    padding: .8rem 0 2rem 2.4rem;

    &:nth-child(2) {
      h4 {
        letter-spacing: 0px;

        &::after {
          content: "'s";
          text-transform: lowercase;
        }
      }
    }
  }

  section h4 {
    @include font-set(400);
    font-size: 1.8rem;
    font-style: italic;
    color: $white-dark;
    text-transform: uppercase;
    line-height: 2;
    display: inline;
    border-bottom: 1px solid $red-dark;
    letter-spacing: 4px;
  }

  section ul li {
    @include font-set(200);
    color: $white-dark;
    font-size: 1.8rem;
    position: relative;
    padding-left: 1.8rem;

    // hyphen
    &::before {
      display: block;
      content: '';
      background: $white-dark;
      width: .8rem;
      height: .1rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
}

// ****
@include media-480 {
  div.profile {
    width: 96%;
    margin-left: 0;
    opacity: 0;
    @include fade-in();

    main {      
      margin-bottom: 5rem;

      h1 {
        font-size: 3.6rem;
      }

      article p {
        font-size: 2rem;
      }
    }
  }

  div.skills {
    // margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    section {
      width: 40%;
      margin: .6rem;
    }
  }
}

// ****
@include media-768 {
  div.profile {
    max-width: 80rem;
  }

  // tweak point
  @include custom-min-width(840px) {
    div.profile {
      margin-left: 2rem;
    }
  }

  div.skills {
    @include box-shadow-set();
    border: 1px $white-dark2 solid;
    margin: 0;
    display: -ms-grid;
        display: grid;
    -ms-grid-template-columns: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
    color: $white-dark;
    color: lighten(black, 20%);
    padding: 2.5rem 1rem 4rem 1rem;
    border-radius: 5px;

    section {
      background: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      border: none;
      font-size: 1.8rem;
      padding: 0;
      width: 90%;
      margin: 0 0 0 10%;

      h4 {
        font-size: 2rem;
      }

      ul li::before {
        width: 1rem;
      }
    }
  }
}

@include media-1000 {
  div.profile {
    margin-left: 3rem;
  }
}

